<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
</head>
<body>


<table>
    <thead>
    <tr>
        <th class="one wide">번호</th>
        <th class="ten wide">글제목</th>
        <th class="two wide">작성자</th>
        <th class="three wide">작성일</th>
    </tr>
    </thead>

    <tbody>
    <!-- CONTENTS !-->
    <tr th:each="data : ${boardList}">
        <td>
            <span th:text="${data.id}"></span>
        </td>
        <td>
            <a th:href="@{'/post/' + ${data.id}}">
                <span th:text="${data.title}"></span>
            </a>
        </td>

<!--        <td>-->
<!--            <span th:text="${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm')}"></span>-->
<!--        </td>-->
    </tr>
    </tbody>
</table>
<a th:href="@{/post}">글쓰기</a>

</body>
</html>